.info-page {
  background-color: #E6E9EF ;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
}

.info-page-content {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-page-content > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 160%;
  text-align: center;
  color: #00D147;
}

.info-page-emoji {
  margin-top: 2%;
  height: 10%;
}