.question-page {
  background-color: white;
}

.bg-left {
  position: absolute;
  left: 0;
  bottom: -100px;
}

.bg-right {
  position: absolute;
  top: -32px;
  right: -32px;
}

.header-logo {
  margin-left: -32%;
  height: 68%;
}

.bg-logo {
  position: absolute;
  right: 0px;
  bottom: -18px;
  width: 22%;
}

.option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-container li {
  list-style: none;
}

.modal-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 35%;
  border-radius: 30px;
  width: 25%;
  height: 30%;
  background-color: white;
  z-index: 1001;
}

.modal-window > a {
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #09006D;
}

.blocked-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  background: rgba(0, 47, 24, 0.6);
  backdrop-filter: blur(29px);
  z-index: 1000; 
}

.modal-emoji {
  height: 40%;
  margin-top: 4%;
}

.modal-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 160%;
  color: #D60B0B;
}

.options {
  background: rgba(16, 200, 247, 0.02);
  border: 2px dashed #0FD0F7;
  box-sizing: border-box;
  border-radius: 37px;
  width: 32%;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  margin-bottom: 2%;

}

.options > ul {
  height: 100%;
  width: 100%;  
}

.options li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #09006D;
}

.options input {
  margin-right: 1%;
}

.question {
  margin-bottom: 2%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 160%;
  text-align: center;
  color: #09006D;
}