.main-page {
  height: 100%;
  background-image: url("../../assets/images/main_page/background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  /* padding: 80px; */
}

img {
  pointer-events: none;
}

.handle {
  display: inline-block;
}